@model IEnumerable<OA.WebApp.ViewModels.T1DataDto>

@for (int i = 0; i < Model.Count(); i++)
{

<section id="section_@Model.ElementAt(i).ID" class="t1_section container active" style="margin-left: 0px; display: none">

    @await Html.PartialAsync("_T1DataView", Model.ElementAt(i))
    <script>
        t1_char_data.set(@Model.ElementAt(i).ID.ToString(), {});
        t1_char_data.get(@Model.ElementAt(i).ID)["date"] = @Html.Raw(Json.Serialize(Model.ElementAt(i).PriceDates));
        t1_char_data.get(@Model.ElementAt(i).ID)['20gp'] = @Html.Raw(Json.Serialize(Model.ElementAt(i).GP20));
        t1_char_data.get(@Model.ElementAt(i).ID)['40gp'] = @Html.Raw(Json.Serialize(Model.ElementAt(i).GP40));
        t1_char_data.get(@Model.ElementAt(i).ID)['40hc'] = @Html.Raw(Json.Serialize(Model.ElementAt(i).HC40));
    </script>
</section>
}