@model IEnumerable<OA.WebApp.Models.Vessel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">新建</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr  @if (item.ETD < DateTime.Now) { @Html.DisplayName("style=color:red") }>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="edit_link">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>
                   
                        @Html.DisplayFor(modelItem => item.ETD)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trade)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="fa fa-remove fa-lg" style="color: red"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
   .edit_link:hover {
        text-decoration: underline;
        color: darkcyan;
    }
</style>