@model IEnumerable<OA.WebApp.Models.Vessel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Show";
}

<table class="table vessels-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade)
            </th>
        </tr>
    </thead>
    <tbody>
        @{var index = 0;}
        @foreach (var item in Model)
        {
            index += 1;
            <tr @if (item.ETD < DateTime.Now) { @Html.DisplayName("style=color:red") }
                @if (index % 2 == 0) { @Html.DisplayName("class=even")} else { @Html.DisplayName("class=odd") }
                }>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="edit_link">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseDate)
                </td>
                <td>

                    @(item.ETD == null ? "暂无" : item.ETD.ToString())
                </td>
                <td>
                    @(item.Trade ? "内贸" : "外贸")
                </td>

            </tr>
        }
    </tbody>
</table>

<style>
   
</style>
<script>
    var doscroll2 = function () {
        var $parent = $('.table > tbody');
        var $first = $parent.find('tr:first');
        var height = $first.find('a').css('line-height');

        $first.children('td').css("padding-top", 0);
        $first.children('td').css("padding-bottom", 0);

        $first.children('td')
            .not(':has(div.td-slider)')
            .wrapInner('<div class="td-slider" />');

        $first.children('td')
            .children(".td-slider")
            .slideUp(
                1000,
                function () {
                    $(this).closest('tr').appendTo($parent);
                    $(this).show();
                });
    };

    setInterval(function () {
        doscroll2();
    }, 6000);
</script>