@model IEnumerable<OA.WebApp.Models.Vessel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Show";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CloseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ETD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr @if (item.ETD < DateTime.Now) { @Html.DisplayName("style=color:red")   }>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="edit_link">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseDate)
            </td>
            <td>

                @(item.ETD == null ? "暂无" : item.ETD.ToString())
            </td>
            <td>
                @(item.Trade ? "内贸" : "外贸")
            </td>
            
        </tr>
        }
    </tbody>
</table>

<style>
    .edit_link:hover {
        text-decoration: underline;
        color: darkcyan;
    }
</style>