@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="~/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br>
        @{
            JObject nav = (JObject)ViewData["nav"];
        }
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section active">
                <h3>General</h3>

                <ul class="@nav["sidebar"]["class"]" style="">

                    @foreach (var menu in nav["sidebar"]["menus"])
                    {
                        <li class="@menu["class"]">
                            <a><i class="@menu["lable"]["class"]"></i> @menu["lable"]["text"] <span class="fa fa-chevron-down"></span></a>
                            <ul class="@menu["menuUl"]["class"]">
                                @foreach (var menu2 in menu["menuUl"]["menuLis"])
                                {
                                    <li class="@menu2["class"]">
                                        <a href="javascript:void(0)" class="@menu2["label"]["class"]">@menu2["label"]["text"]</a>
                                        <ol class="@menu2["menuUl"]["class"]">
                                            @foreach (var menu3 in menu2["menuUl"]["menuLis"])
                                            {
                                                <li class="@menu3["class"]"><a href="@menu3["url"]"  target="_blank">@menu3["text"]</a></li>
                                            }
                                        </ol>
                                    </li>
                                }
                            </ul>
                        </li>
                    }

                </ul>
                @*<ul class="nav side-menu level-1-ul" style="">
                    <li class="level-1-li">
                        <a><i class="fa fa-edit"></i> 测试 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="">
<<<<<<< HEAD
                            <li class="level-2-li">
                                <a href="/Vessels">集港信息录入</a>
                                <ul class="">
                                    <li class="level-3-li"><a href="/Vessels/Index">主页</a></li>
                                    <li class="level-3-li"><a href="/Vessels/Create">创建</a></li>
                                </ul>
                            </li>
                            <li><a href="/Journals/Create">加法财务</a></li>
=======
                            <li><a href="/Vessels">集港信息录入</a></li>
                            <li><a href="/Journals">加法财务</a></li>
                            <li><a href="/Journals/Entry">新建应收</a></li>
>>>>>>> 6a8c3fbb6a5f1b2a752bdb412edb1a56ef3d3fca
                        </ul>
                    </li>

                    <li class="">
                        <a><i class="fa fa-home"></i> 系统设置 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="">
                            <li class=""><a href="/Users">用户</a></li>

                            <li class=""><a href="/Roles">角色</a></li>
                            <li class=""><a href="/Privileges">权限</a></li>
                        </ul>
                    </li>
                </ul>*@
            </div>


        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="" href="login.html" data-original-title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>